* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
        }

        .backcover {
            height: 100%;
            width: 100%;
            position: absolute;
            filter: opacity(70%);
        }

        .container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            scroll-behavior: smooth;
        }

        .gamename {
            font-family: "Quintessential", serif;
            font-size: 6rem;
            position: relative;
            animation: floating 2s ease-in-out infinite;
        }

        @keyframes floating {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }

        p {
            font-family: "Julius Sans One", sans-serif;
            font-size: 2rem;
            position: relative;
            margin: 0.5rem;
        }

        .form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            align-items: center;
            margin: 0.5rem;
        }

        .submitguess {
            background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgba(27, 24, 113, 1) 93.2%);
            color: white;
            height: 2rem;
            width: 6rem;
            position: relative;
            border: 0.5px solid white;
            border-radius: 2rem;
            font-family: "Kaushan Script", cursive;
            margin: 0.5rem;
        }

        .labelname {
            font-family: "Quintessential", serif;
            position: relative;
            font-size: 2rem;
        }

        #guessfield {
            border: 0.5px solid black;
            position: relative;
            border-radius: 0.6rem;
            height: 2rem;
            width: 15rem;
            margin-top: 0.5rem;
            font-size: 1.2rem;
            text-align: center;
        }

        #choicefield {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0.5px solid black;
            position: relative;
            border-radius: 0.6rem;
            height: 2rem;
            width: 15rem;
            margin-top: 0.5rem;
            font-size: 1.2rem;
            text-align: center;
        }

        .resultpara {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
        }

        #playagain {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Kaushan Script", cursive;
            font-size: 1rem;
            background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgba(27, 24, 113, 1) 93.2%);
            color: white;
            height: 2rem;
            width: 6rem;
            position: relative;
            border: 0.5px solid white;
            border-radius: 2rem;
            margin: 0.5rem;
        }

        #micky {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30rem;
            width: 35rem;
            opacity: 0;
            top: 12rem;
            left: 1rem;
            mix-blend-mode: multiply;
            position: absolute;
        }
        .mouse{
            display: flex;
            justify-content: flex-start;
        }

        /* Responsiveness */

        @media screen and (max-width: 426px) {
            .gamename {
            font-family: "Quintessential", serif;
            font-size: 3rem;
            position: relative;
            animation: floating 2s ease-in-out infinite;
        }

        @keyframes floating {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }

        p {
            font-size: 1rem;
            margin: 0.5rem;
        }


        #micky {
            height: 10rem;
            width: 10rem;
            opacity: 0;
            top: 37rem;
            left: 8.5rem;
        }

        }

        @media screen and (max-width: 376px) {
            .gamename {
            font-family: "Quintessential", serif;
            font-size: 3rem;
            position: relative;
            animation: floating 2s ease-in-out infinite;
        }

        @keyframes floating {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }

        p {
            font-size: 1rem;
            margin: 0.5rem;
        }


        #micky {
            height: 10rem;
            width: 10rem;
            opacity: 0;
            top: 37rem;
            left: 8.5rem;
        }

        }

        @media screen and (max-width: 320px) {
            .gamename {
            font-family: "Quintessential", serif;
            font-size: 3rem;
            position: relative;
            animation: floating 2s ease-in-out infinite;
        }

        @keyframes floating {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }

        p {
            font-size: 1rem;
            margin: 0.5rem;
        }


        #micky {
            height: 10rem;
            width: 10rem;
            opacity: 0;
            top: 37rem;
            left: 8.5rem;
        }

        }
